<h1 class="text-4xl mb-6"><%= title %></h1>

<form action="" method="post">
  <div class="mb-4">
    <label for="shopName" class="block font-medium leading-6 text-gray-900 mb-2"
      >Shop name:</label
    >
    <input
      class="w-full rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-300 sm:text-sm sm:leading-6"
      type="text"
      name="shopName"
      id="shopName"
      placeholder="Shop name"
      required
    />
  </div>

  <div class="mb-4">
    <label for="user" class="block font-medium leading-6 text-gray-900 mb-2"
      >Whose shop is it?</label
    >
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      name="user"
      id="user"
      placeholder="Select user"
      required
    >
      <%- allUsers.sort(sortArray)%> <% for( let i = 0; i < allUsers.length; i++
      ) { %>
      <option value="<%=allUsers[i]._id%>"><%=allUsers[i].name%></option>
      <% } %>
    </select>
  </div>

  <div class="mb-4">
    <label for="passwrod" class="block font-medium leading-6 text-gray-900 mb-2"
      >User Password:</label
    >
    <input
      class="w-full rounded-md border-0 p-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-300 sm:text-sm sm:leading-6"
      type="password"
      name="password"
      id="password"
      placeholder="************"
      required
    />
  </div>

  <button type="submit" class="bg-sky-500 text-white p-3 my-3">Submit</button>
</form>

<% if (typeof errors != "undefined") { %>
<ul>
  <% for( let i = 0; i < errors.length; i++ ) { %>
  <li><%= errors[i].msg%></li>
  <% } %>
</ul>
<% } %>
